{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<h2>Котировкa выбранных монет</h2>
<table class="table table-bordered border-primary">
    <tr>
        <td>Монета</td>
        <td>Доллар</td>
         <td>Евро</td>
         <td>Фунт</td>
    </tr>
    {% for key, values in data.items %}
    <tr>
        <td>{{ key }}</td>
        {% for i, v in values.items %}
        <td>{{ v }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'back' %}" class="btn btn-sm btn-success">назад</a></p>

<p><a href="{% url 'export_csv' %}" class="btn btn-sm btn-info">Экспорт в CSV файл</a></p>
<p><a href="{% url 'export_xlsx' %}" class="btn btn-sm btn-info">Экспорт в XLSX файл</a></p>
<p><a href="{% url 'export_pdf' %}" class="btn btn-sm btn-info">Экспорт в PDF файл</a></p>


{% endblock %}