{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<h2 class="center">СryptoСurrency Rate </h2>
<img id="my_image" src="{% static 'parser/images/bitcoin.png' %}">
<p><a href="{% url 'form' %}" class="btn btn-success btn btn-block">котировки отдельных криптовалют </a></p>
<p><a href="{% url 'index_all' %}" class="btn btn-success btn btn-block">котировки всех криптовалют</a></p>
<p><a href="{% url 'api_json' %}" class="btn btn-success btn btn-block">котировки в json формате</a></p>
{% endblock %}